{% extends "base.html" %}

{% block title %}
Staff Login
{% endblock %}


{% block content %}

<h1>
    Staff Login
</h1>

<form method="POST">
<input
    type="hidden"
    name="csrf_token"
    value="{{ csrf_token() }}"
>

    <label>
        Email
    </label>

    <input
        type="email"
        name="email"
        required
    >


    <label>
        Password
    </label>

    <input
        type="password"
        name="password"
        required
    >


    <button type="submit">
        Staff Login
    </button>

</form>

{% endblock %}